.mobile__nav{
    position: absolute;
    /* border: 1px solid green ; */
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: var(--clr-dark);
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.mobile__nav .mobile__menu{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.mobile__links {
    text-decoration: none;
    font-size: var(--size-sm);
    font-weight: 600;
    color: var(--clr-slate600);
    letter-spacing: -0.05em;
    transition: color 0.3s;
}
.mobile__links:hover {
        color: var(--clr-rose);
}

.mobile__link-line{
        border: 1px solid var(--clr-slate800);
        padding-right:1.5rem ;
}

.mobile__sun{
    width: var(--size-xl);
    height: var(--size-xl);
    color: var(--clr-slate600);
    display: block;
}

.mobile__btn{
    font-size: var(--size-sm);
}

