.work{
    text-align: center;
}

.work__project:not(:last-child){
    margin-bottom: 5rem;
}

.work__title{
    font-size: var(--size-2xl);
    color: var(--clr-ligth);
    text-align: center;

}
.work__description{
    max-width: 60ch;
    font-size: var(--size-sm);
    color: var(--clr-slate600);
    text-align: center;
    margin: 1rem auto;
}

.work__project-title{
    font-size: var(--size-base);
    margin-bottom: 1rem;
}


.work__img-wrapper{
    position: relative;
}

.work__img-wrapper::after{
    content: '';
    background-color: rgba(79, 70, 229, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: background-color 0.3s;
}

.work__img-wrapper:hover::after{
    background-color: rgba(79, 70, 229, 0.3 );
}

.work__project-description1{
        font-size: var(--size-sm);
        color: var(--clr-slate600);
        margin: 1rem 0 ;
}
.work__project-description2 {
       font-size: var(--size-sm);
       color: var(--clr-slate400);
       margin-bottom: 1rem;
}
.work__btn{
    font-size: var(--size-sm);
}

.work__subtitle{
    display: none;
}








































@media(min-width:475px){
    .work__title{
        font-size: var(--size-3xl);
     
    
    }
    .work__description{

        font-size: var(--size-base);
        margin: 1.5rem auto;
     
        
    
    }

    .work__project-title{
        font-size: var(--size-lg );
        margin-bottom:1.5rem ;
        
        
    }
    .work__project-description1{
        font-size: var(--size-base);
      
        margin: 1.5rem 0 ;
}
.work__project-description2 {
       font-size: var(--size-base);
 
       margin-bottom: 1rem;
}
.work__btn{
    font-size: var(--size-base);
}


    
    
}


 
@media(min-width:640px){
            .work__container{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-areas:
                'image-1 content1'
                'content2 image-2'
                'image-3 content3'
                'content4 image-4'
                ' image-5 content5'
                'content6 image-6';

               
                
                place-items: center;
               
                
            }
            .work__image1{
                grid-area: image-1;
            }
            .work__image2{
                grid-area: image-2;
            }
            .work__image3{
                grid-area: image-3;
            }
            .work__image4{
                grid-area: image-4;
            }
            .work__image5{
                grid-area: image-5;
            }
            .work__image6{
                grid-area: image-6;
            }

            .work__content1{
                grid-area: content1;
            }
            .work__content2{
                grid-area: content2;
            }
            .work__content3{
                grid-area: content3;
            }
            .work__content4{
                grid-area: content4;
            }
            .work__content5{
                grid-area: content5;
            }
            .work__content6{
                grid-area: content6;
            }


            .work__project{
                padding: 0 1rem;
            }
            .work__project-title{
                display: none;
            }

            .work__project-description1{
                font-size: var(--size-xs);
              
                margin: 1em 0 ;
        }
        .work__project-description2 {
               font-size: var(--size-xs);
         
               margin-bottom: 1em;
        }
        .work__btn{
            font-size: var(--size-xs);
        }
        .work__project:not(:last-child){
            margin-bottom: 0 ;
        }
        
.work__subtitle{
    display: block;
    font-size: var(--size-base);
}



}




@media(min-width:768px){
    .work__project-description1{
        font-size: var(--size-sm);
      
        margin: 1em 0 ;
}
.work__project-description2 {
       font-size: var(--size-sm);
 
       margin-bottom: 1em;
}
.work__btn{
    font-size: var(--size-sm);
}
.work__project:not(:last-child){
    margin-bottom: 0 ;
}

.work__subtitle{
display: block;
font-size: var(--size-lg);
}
}




@media(min-width:1024px){
    .work__title{
        font-size: var(--size-4xl);
     
    
    }
    .work__description{

        font-size: var(--size-lg);
        margin: 1.5rem auto;
     
        
    
    }
    .work__project-description1{
        font-size: var(--size-base);
      
        margin: 1em 0 ;
}
.work__project-description2 {
       font-size: var(--size-base);
 
       margin-bottom: 1em;
}
.work__btn{
    font-size: var(--size-base);
}
.work__project:not(:last-child){
    margin-bottom: 0 ;
}

.work__subtitle{
display: block;
font-size: var(--size-xl);
}
}



@media(min-width:1280px){
    .work__title{
        font-size: var(--size-5xl);
     
    
    }
    .work__description{

        font-size: var(--size-xl);
        margin: 2rem auto;   
    }

    .work__project-description1{
        font-size: var(--size-lg);
      
        margin: 1em 0 ;
}
.work__project-description2 {
       font-size: var(--size-lg);
 
       margin-bottom: 1em;
}
.work__btn{
    font-size: var(--size-lg);
}
.work__project:not(:last-child){
    margin-bottom: 0 ;
}

.work__subtitle{
display: block;
font-size: var(--size-2xl);
}
.work__container{
    width: 80%;
    margin: 0 auto;
    /* border: 1px solid white ; */
}

}




@media(min-width:1536px){
    .work__container{
        width: 70%;
    }
}
